@import "../../global.scss";

.topbar{
    background-color: $mainColor;
    color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
        display: none;
    }
    transition: all 2s ease;

    .wrapper{
        display: flex;
        padding: 10px 30px;
        align-items: center;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            
            .logo{
                font-size: 40px;
                font-weight: bold;
                color: inherit;
                text-decoration: none;
                font-family: 'Dancing Script';
                margin-right: 40px;
            }

            .itemContainer{
                display: flex;
                align-items: center;
                margin-right: 30px;
                
                .icon{
                    font-size: 20px;
                    margin-right: 7px;
                }

                span{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        .right{

            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                
                span{
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active{
        background-color: black;
        color: $mainColor;

       .hamburger{
        
        span{
             &:first-child{
                background-color: $mainColor;
                transform: rotate(45deg);
             }

             &:nth-child(2){
                opacity: 0;
             }

             &:last-child{
                background-color: $mainColor;
                transform: rotate(-45deg);
             }
        }
       }
    }
}